language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t olkabolkagoryashenko/react-test -f ./client/Dockerfile.dev ./client

script:

  - docker run -e CI=true olkabolkagoryashenko/react-test npm test

after_success: 
  - docker build -t oborisenko/multi-client ./client
  - docker build -t oborisenko/multi-nginx ./nginx
  - docker build -t oborisenko/multi-server ./server
  - docker build -t oborisenko/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push oborisenko/multi-client
  - docker push oborisenko/multi-worker
  - docker push oborisenko/multi-nginx
  - docker push oborisenko/multi-server

  deploy:
    provider: elasticbeanstalk
    region: 'us-east-1'
    app: 'multi-docker'
    env: 'Multidocker-env'
    bucket_name: 'elasticbeanstalk-us-east-1-624360971490'
    bucket_path: 'docker-multi'
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY